<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <p class="display-4">CSES_LITE <br> for <%= handle %></p>
    <p class="secret-text">Problem-1</p>
    <hr>
    <p class="secret-text">Print a valid CSE roll Number of the current batch.</p>
    
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="http://localhost:3000/" role="button">Submit a Problem</a>
  </div>
</div>

<%- include('partials/footer') %>
